<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workout_planner">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Your Workouts"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.workout_planner.activities.chart.ChartActivity"
            android:label="1RM chart" />
        <activity
            android:name="com.example.workout_planner.activities.logs.LogsActivity"
            android:label="Exercise Logs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.workout_planner.activities.workout_session.WorkoutSessionActivity"
            android:label="Workout Session"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.workout_planner.activities.add_exercise.AddExerciseActivity"
            android:label="Add Exercise to Workout Plan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.workout_planner.activities.plan.PlanActivity"
            android:label="@string/plan_title"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.workout_planner.activities.main.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
    </application>

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>